<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aapnarshop.buyer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".VIEW$ACTIVITY.HomePage"
            android:theme="@style/AppThemeMaterial">
        </activity>

        <activity
            android:name=".VIEW.ACTIVITY.HomePage"
            android:windowSoftInputMode="stateHidden"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".VIEW.ACTIVITY.LoginPage">
        </activity>

        <activity
            android:name=".VIEW.ACTIVITY.LandingPage"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VIEW.ACTIVITY.IMAGE_CROP"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>